body,html {
    height: 100%;
    background-color: #F0F2F3;
}
  #wrapper{
  min-height:100%;

}
#page{
  min-height:85vh;
  margin-top: 3%;
}
/* #portfolio {
  width: 100%;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

} */

#footer{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
 justify-content: center;
 align-items: center;
}
.social-icons{
  display: inline;
  list-style: none;
}

#responsive {
  width: 30%;
  height: auto;
}

.navbar-toggler{
 border: none;
}
.navbar-toggler:focus {
 box-shadow: none;
}
.nav-link:hover {
  color: #F0F2F3;
  /* font-size: 20px;
  font-weight: 700; */

}
.navbar-toggler-icon {
  color: #ff0080;
}
.nav-link {
  color: #ff0080;
  font-size: 20px;
  font-weight: 600; 

}
.navbar-brand:hover{
  color: #ff0080;
  font-size: 4vh;
  font-weight: 900;
 
}
.navbar-brand{
  color: #F0F2F3;
  font-size: 4vh;
  font-weight: 900;
 
}
.fakeim{
  background-color: red;
  width: 100%;
  padding: 20px;

}
a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

#parrafo {
  display: block;
  text-align: justify;
  letter-spacing: 1px;
  font-size: large;
}

 .Container{
  display: flex;
/* 
   height: 100vh; */
  width: 100%;
  justify-content: center;
  align-items: center;
} 
.Container-dark {
  background-color: #495057;
  color: #F0F2F3;

  .fa-stack-1x {
    color: #495057;
  }
  .fa-footer {
    color: #F0F2F3;
  }
  .fa-cube {
     color: #F0F2F3;
  }
  .fa-wordpress {
     color: #F0F2F3;
  }
  .fa-js {
     color: #F0F2F3;
  }
  .fa {
     color: #F0F2F3;
  }
  .navbar-toggler-icon{
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
  }
    .card {
    --bs-card-bg: #353738 !important;
    --bs-body-color:  #F0F2F3;
  }
}
.Container-light {
  background-color: #F0F2F3;
  color: #495057;
  
  .navbar-brand{
    color: #495057;
    font-size: 4vh;
    font-weight: 900;
   
  }
  .navbar-brand:hover{
    color: #ff0080;
    font-size: 4vh;
    font-weight: 900;
   
  }
  .nav-link:hover {
    color: #495057;
    /* font-size: 20px;
    font-weight: 700; */
  
  }

  
 
}
