body,html {
    height: 100%;
    background-color: #F0F2F3;
}

#wrapper{
  min-height:100%;

}
  /* 
#page{
  min-height:85vh;
  margin-top: 3%;
} */
/* #portfolio {
  width: 100%;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

} */

#footer{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
 justify-content: center;
 align-items: center;
}
.social-icons{
  display: inline;
  list-style: none;
}

#responsive {
  width: 30%;
  height: auto;
}

.navbar-toggler{
 border: #2acd00;
}
.navbar-toggler:focus {
 box-shadow: none;
}
.nav-link:hover {
  color: #F0F2F3;
  /* font-size: 20px;
  font-weight: 700; */

}

.nav-link {
  color: #2acd00;
  font-size: 20px;
  font-weight: 600; 

}
.navbar-brand:hover{
  color: #2acd00;
  font-size: 4vh;
  font-weight: 900;
 
}
.navbar-brand{
  color: #F0F2F3;
  font-size: 4vh;
  font-weight: 900;
 
}
.navbar-toggler-icon {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(42, 205, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


a{
    color: #2acd00;
  text-decoration: none;
  font-size: 20px;
  /* font-weight: 400; */
}

#parrafo {
  display: block;
  text-align: justify;
  letter-spacing: 1px;
  font-size: large;
}



.fa{
    color: #2acd00;
  }

.dark {
  background-color: #181818;
  color: #F0F2F3;
  
  
  

  .fa{
    color: #2acd00;
  }
 

    .card {
    --bs-card-bg: #353738 !important;
    --bs-body-color:  #F0F2F3;
  }
}
.light {
  background-color: #F0F2F3;
  color: #495057;
  
  
  .navbar-brand{
    color: #495057;
    font-size: 4vh;
    font-weight: 900;
   
  }
  .navbar-brand:hover{
    color: #2acd00;
    font-size: 4vh;
    font-weight: 900;
   
  }
  .nav-link:hover {
    color: #495057;
    /* font-size: 20px;
    font-weight: 700; */
  
  }

  
 
}
/* ContactForm */



.contact-form {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 50px;
}

.contact-form h2 {
    color: #007bff;
    margin-bottom: 30px;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* SERVICES */
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
